# P1 - Aprendizado de Máquina

## Alunos

- Alexandre Batistella Bellas, 9763168
- Moisés Botarro Ferraz Silva, 8504135

In [4]:
import numpy as np
import pandas as pd

def gerarMatrizRand(seed):
    return np.random.RandomState(seed).rand(1000, 3)

x = gerarMatrizRand(0)

print(x.shape)

(1000, 3)

In [5]:
df = pd.read_csv("bank.csv", na_values="?")

df.head(5)

Y = np.array()

,age,balance,day,duration,default_bool,housing_bool,loan_bool,previous_cleaned,job_blue-collar,job_entrepreneur,...,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,campaign_cleaned,y
0,30,1787,19,79,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1.0,0
1,33,4789,11,220,0,1,1,4,0,0,...,0,1,0,0,0,0,0,0,1.0,0
2,35,1350,16,185,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1.0,0
3,30,1476,3,199,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,4.0,0
4,59,0,5,226,0,1,0,0,1,0,...,0,1,0,0,0,0,0,1,1.0,0

In [ ]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

def knn_classifier(k):
    model = KNeighborsClassifier(n_neighbors=k)